/* Fonts */
@font-face {
    font-family: 'Avenir Next Bold';
    src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
    font-family: 'Avenir Next Demi';
    src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
    font-family: 'Avenir Next Regular';
    src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
}

/* Variables */
$BandSite-Black: #323232;
$BandSite-DarkBlack: #000000;
$Silver: #AFAFAF;
$Mercury: #E1E1E1;
$White: #FFFFFF;
$Alabaster: #FAFAFA;

/* Mixins */
@mixin text-bold {
    margin: 0;
    font-family: 'Avenir Next Bold';
    @content;
}
@mixin text-demi {
    font-family: 'Avenir Next Demi';
    @content;
}
@mixin text-reg {
    font-family: 'Avenir Next Regular';
    @content;
}
@mixin label-button-mobile {
    @include text-bold {
    font-size: 0.625rem;
    line-height: 1.25rem;
    }
    @content;
}
@mixin header-styling-mobile {
    font-size: 1.5rem;
    line-height: 2rem;
}
@mixin header-spacing-mobile {
    padding-top: 1.5rem;
    padding-bottom: 1rem; 
    }
@mixin vertical-spacing-mobile {
    margin: 1rem 0;
}
@mixin horizontal-spacing-mobile {
    margin: 0 1rem;
}
@mixin label-button-desktop-tablet {
    @include text-bold {
    font-size: 0.75rem;
    line-height: 1.25rem;
    }
    @content;
}
@mixin header-spacing-desktop-tablet {
    padding-top: 3rem;
    padding-bottom: 2.25rem; 
    }
@mixin vertical-spacing-desktop-tablet {
    margin: 2.25rem 0;
}
@mixin horizontal-spacing-tablet {
    margin: 0 2.25rem;
}
@mixin horizontal-spacing-desktop {
    margin: 0 auto;
}

/* Global Elements */
/* All font sizing is based on the root font size in the body element (16px) */
body {
    margin: 0;
}
li {
    @include label-button-mobile {
    list-style-type: none;
    }
}
h5, p {
    margin-block-start: 0;
    margin-block-end: 0;
}
.logo {
    max-height: 1.25rem;
    max-width: 7.5rem;

    &--header {
        @extend .logo;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &--footer {
        @extend .logo;
        margin-top: 2.25rem;
    }
}

.text {
    &--page-header {
        @include text-bold {
            color: $White;
        }
        @include header-styling-mobile;
        position: absolute;
        top: 50%;
        z-index: 10;
    }

    &--section-header {
        @include text-bold {
        color: $BandSite-Black;
        }
        @include header-styling-mobile;
        @include header-spacing-mobile;
    }

    &--subheader {
        @include text-demi {
            color: $BandSite-DarkBlack;
            font-size: 0.875rem;
            line-height: 1.375rem;
            font-weight: bold; 
        }
    }

    &--body {
        @include text-reg {
            font-size: 0.8125rem;
            line-height: 1.125rem;
            color: $BandSite-Black;
            }
        @include vertical-spacing-mobile;
    }
    &--footer-title {
        @include text-bold {
        color: $White;
        }
        @include header-styling-mobile;
        @include header-spacing-mobile;
    }

    &--footer {
        @include text-reg {
            font-size: 0.8125rem;
            line-height: 1.125rem;
            color: $White;
            }
            margin-top: 1rem;
    }
}
.margin {
    @include horizontal-spacing-mobile;
}

/* Header */
.header {
    padding-top: 1rem;
    background-color: $BandSite-Black;

    &__nav {

        &-list {
            display: flex;
            justify-content: space-evenly;
            margin: 0;
            padding: 0;

            &--item {
                padding: 1rem 22%;
                color: $White;
            }
        }
    }

}
.active-link {
    border-bottom: .25rem solid $White;
}

/* Footer */
.footer {
    background-color: $BandSite-Black;
    padding-bottom: 1rem;

    &__image {
        color: $White;
        margin-right: 1rem;
    }

    &__email {
        @extend .text--footer;
        display: block;
        text-decoration: none;   
    }
}

/* Global Breakpoints */

/* Tablet */
@media screen and (min-width: 768px) {
    .margin {
        @include horizontal-spacing-tablet;
    }
    .text {
        &--page-header {
            font-size: 3.75rem;
            line-height: 4.25rem;
        }

        &--section-header {
            @include header-spacing-desktop-tablet;
            font-size: 2.25rem;
            line-height: 2.75rem;
        }

        &--subheader {
                font-size: 0.875rem;
                line-height: 1.375rem;
                font-weight: bold; 

        }
    
        &--footer-title {
            @include header-spacing-desktop-tablet;
            margin-right: 1.5rem;
        }

        &--footer {
            font-size: 0.875rem;
            line-height: 1.25rem;
            margin-bottom: 1.5rem;
            margin-top: 0;
        }
    }

    .header {
        padding-top: 0;

        &__positioning {
            display: flex;
            align-items: center;
            }
            
        &__nav {
            display: flex;

            &-list {
                display: flex;
                justify-content: space-evenly;
                margin: 0;
                padding: 0;
    
                &--item {
                    padding: 1rem 0;
                    margin-right: 2.25rem;
                }
            }
        }
    }
    .footer {
        padding-bottom: 0.75rem;

        &__container {

            &--desktop-tablet {
            display: flex;
            align-items: center;
            }

            &--positioning {
                position: relative;
            }
        }

        &__text {
            &--container {
                margin-right: 3rem;
            }
        }

        &__email {
            margin-bottom: 2.25rem;
        }

        &__image {
            @include header-spacing-desktop-tablet;
            margin-right: 1.5rem;
        }

    }
    .logo {
        &--header {
            margin-left: 0;
            margin-right: 2.25rem;
        }
        &--footer {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 3rem;
        }
    }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .margin {
    @include horizontal-spacing-desktop;
  }
    
}