/* Fonts */
@font-face {
    font-family: Avenir Next Bold;
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
    font-family: Avenir Next Demi;
    src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
    font-family: Avenir Next Regular;
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
}
/* Variables */
$BandSite-Black: #323232;
$BandSite-DarkBlack: #000000;
$Silver: #AFAFAF;
$Mercury: #E1E1E1;
$White: #FFFFFF;
$Alabaster: #FAFAFA;

/* Mixins */
@mixin title {
    margin: 0;
    font-family: Avenir Next Bold;
    @content
}

/* Global Elements */
body {
    margin: 0;
}
li {
    font-family: Avenir Next Demi;
    list-style-type: none;
}
a {
    font-family: Avenir Next Demi;
    text-decoration: none;
}
.title {
    &--header {
        @include title {
        color: $White;
        text-align: center;
        }
    }
    &--section {
        @include title {
        color: $BandSite-Black;
        }
    }
    &--footer {
        @include title {
        color: $White;
        }
    }
}

/* Header */
.header {
    background-color: $BandSite-Black;
    &__nav {
        &-list {
            display: flex;
            justify-content: space-evenly;
            margin: 0;
            padding: 0;
            &--item {
                padding: 1rem 25%;
                color: $White;
            }
        }
    }
}
.active-link {
    border-bottom: .25rem solid $White;
}

/* Footer */
.footer {
    padding: 5vw;
    background-color: $BandSite-Black;
    &__image {
        color: $White;
    }
    &__text {
        color: $White;
    }
    &__email {
        color: $White;
    }
}