/* Fonts */
@font-face {
    font-family: 'Avenir Next Bold';
    src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
    font-family: 'Avenir Next Demi';
    src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
    font-family: 'Avenir Next Regular';
    src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
}

/* Variables */
$BandSite-Black: #323232;
$BandSite-DarkBlack: #000000;
$Silver: #AFAFAF;
$Mercury: #E1E1E1;
$White: #FFFFFF;
$Alabaster: #FAFAFA;

/* Mixins */
@mixin text-bold {
    font-family: 'Avenir Next Bold';
    @content;
}
@mixin text-demi {
    font-family: 'Avenir Next Demi';
    @content;
}
@mixin text-reg {
    font-family: 'Avenir Next Regular';
    @content;
}
@mixin label-button {
    @include text-reg() {
    font-size: 1rem;
    line-height: 1.25rem;
    }
    @content;
}
@mixin form-field-border-padding {
    border: 0.0625rem solid $Mercury;
    border-radius: 0.25rem;
    padding: 0.75rem;
}
@mixin header-styling-mobile {
    font-size: 1.5rem;
    line-height: 2rem;
}
@mixin header-spacing-mobile {
    padding-top: 1.5rem;
    padding-bottom: 1rem; 
    }
@mixin vertical-spacing-mobile {
    margin-bottom: 1rem;
}
@mixin horizontal-spacing-mobile {
    margin: 0 1rem;
}
@mixin header-spacing-desktop-tablet {
    padding-top: 3rem;
    padding-bottom: 2.25rem; 
    }
@mixin vertical-spacing-desktop-tablet {
    margin-bottom: 2.25rem;
}
@mixin horizontal-spacing-tablet {
    margin: 0 2.25rem;
}
@mixin horizontal-spacing-desktop {
    margin: auto;
}

/* Global Elements */
/* All font sizing is based on the root font size in the body element (16px) */
body {
    margin: 0;
}
li {
    @include label-button {      
    color: $White;
    list-style-type: none;
    }
}
h1, h3, h4, h5, p, blockquote {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
a {
    text-decoration: none;
    &:link {
        color: $White;
    }
    &:visited {
        color: $Silver;
    }
    &:hover {
        color: $White;
    }
    &:active {
        margin-right: -0.33rem;
        font-family: 'Avenir Next Bold';
    }
}
.logo {
    max-height: 1.25rem;
    max-width: 7.5rem;

    &--header {
        @extend .logo;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &--footer {
        @extend .logo;
        margin-top: 2.25rem;
    }
}

.text {
    &--section-header {
        @include text-bold {
        color: $BandSite-Black;
        }
        @include header-styling-mobile;
        @include header-spacing-mobile;
    }

    &--subheader {
        @include text-reg {
            color: $BandSite-DarkBlack;
            font-size: 0.875rem;
            line-height: 1.375rem;
            font-weight: bold; 
        }
        @include header-spacing-mobile;
    }

    &--body {
        @include text-reg {
            font-size: 0.8125rem;
            line-height: 1.125rem;
            color: $BandSite-Black;
            }
        @include vertical-spacing-mobile;
    }
    &--comments {
        @extend .text--body;
    }
    &--footer-title {
        @include text-bold {
        color: $White;
        }
        @include header-styling-mobile;
        @include header-spacing-mobile;
    }

    &--footer {
        @include text-reg {
            font-size: 0.8125rem;
            line-height: 1.125rem;
            color: $White;
            }
            margin-top: 1rem;
    }
}
.margin {
    @include horizontal-spacing-mobile;

    &--spacer {
        margin-top: 55vw;
    }
}
header > .margin {
    margin: 0;
}

/* Header */
.header {
    padding-top: 1rem;
    background-color: $BandSite-Black;

    &__nav {
        overflow: hidden;

        &-list {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;

            &--item {
                text-align: center;
                padding: 1rem 20vw;
                
                &:hover {
                    border-bottom: .25rem solid $White;
                    transition: border-bottom 0.05s;
                }
            }
        }
    }

}
.active-link {
    border-bottom: .25rem solid $White;
}

/* Footer */
.footer {
    background-color: $BandSite-Black;
    padding-bottom: 1rem;

    &__image {
        color: $White;
        margin-right: 1rem;
    }

    &__email {
        @extend .text--footer;
        display: block;
        text-decoration: none;   
    }
}

/* Global Breakpoints */

/* Tablet */
@media (min-width: 768px) {
    .margin {
        @include horizontal-spacing-tablet;
    }
    header > .margin {
        @include horizontal-spacing-tablet;
    }
    .text {
        &--section-header {
            @include header-spacing-desktop-tablet;
            font-size: 2.25rem;
            line-height: 2.75rem;
        }

        &--subheader {
            @include text-bold {
            font-size: 1.5rem;
            line-height: 2rem;  
            }
            @include header-spacing-desktop-tablet;
        }

        &--body {
            @include vertical-spacing-desktop-tablet;
        }
    
        &--footer-title {
            @include header-spacing-desktop-tablet;
            margin-right: 1.5rem;
        }

        &--footer {
            font-size: 0.875rem;
            line-height: 1.25rem;
            margin-bottom: 1.5rem;
            margin-top: 0;
        }
    }

    .header {
        padding-top: 0;

        &__positioning {
            display: flex;
            align-items: center;
            }
            
        &__nav {
            display: flex;

            &-list {
                display: flex;
                justify-content: space-evenly;
                margin: 0;
                padding: 0;
    
                &--item {
                    padding: 1rem 0;
                    margin-right: 2.25rem;
                    &:hover {
                        padding: 1rem 0;
                    }
                }
            }
        }
    }
    .footer {
        padding-bottom: 0.75rem;

        &__container {

            &--desktop-tablet {
            display: flex;
            align-items: center;
            }

            &--positioning {
                position: relative;
            }
        }

        &__text {
            &--container {
                margin-right: 3rem;
            }
        }

        &__email {
            @include vertical-spacing-desktop-tablet;
        }

        &__image {
            @include header-spacing-desktop-tablet;
            margin-right: 1.5rem;
        }

    }
    .logo {
        &--header {
            margin-left: 0;
            margin-right: 2.25rem;
        }
        &--footer {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 3rem;
        }
    }
    .remove-margin {
        margin: 0;
    }
}

/* Desktop */
@media (min-width: 1280px) {
    .margin {
        @include horizontal-spacing-desktop;
        width: 80vw;
    }

    header > .margin {
        @include horizontal-spacing-desktop;
        width: 80vw;
    }

    .header {
        &__nav {
            &-list {
                &--item {
                    padding: 2.25rem 0;
                    &:hover {
                        padding: 2.25rem 0;
                    }
                }
            }
        }
    }

    .text {
        &--footer-title {
            margin-right: 3rem;
        }
}
    .logo {
        &--header {
            margin-left: 0;
            margin-right: 3rem;
    }
}
    .footer {
        &__text {
            &--container {
                margin-right: 4.5rem;
        }
    }

    &__email {
        margin-bottom: 3rem;
    }

}
    
}