/* Fonts */
@font-face {
  font-family: "Avenir Next Bold";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: "Avenir Next Regular";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
}
/* Global Elements */
/* All font sizing is based on the root font size in the body element (16px) */
body {
  margin: 0;
}

li {
  font-family: "Avenir Next Regular";
  font-size: 1rem;
  line-height: 1.25rem;
  color: #FFFFFF;
  list-style-type: none;
}

h1, h3, h4, h5, p, blockquote {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

a {
  text-decoration: none;
}
a:link {
  color: #FFFFFF;
}
a:visited {
  color: #AFAFAF;
}
a:hover {
  color: #FFFFFF;
}
a:active {
  margin-right: -0.33rem;
  font-family: "Avenir Next Bold";
}

.logo, .logo--footer, .logo--header {
  max-height: 1.25rem;
  max-width: 7.5rem;
}
.logo--header {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logo--footer {
  margin-top: 2.25rem;
}

.text__header--section {
  font-family: "Avenir Next Bold";
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.text__subheader {
  font-family: "Avenir Next Regular";
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: bold;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.text__body {
  font-family: "Avenir Next Regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
  margin-bottom: 1rem;
}
.text__footer, .footer__email {
  font-family: "Avenir Next Regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #FFFFFF;
  margin-top: 1rem;
}
.text__footer--title {
  font-family: "Avenir Next Bold";
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.margin {
  margin: 0 1rem;
}
.margin--spacer {
  margin-top: 55vw;
}

header > .margin {
  margin: 0;
}

/* Header */
.header {
  padding-top: 1rem;
  background-color: #323232;
}
.header__nav {
  overflow: hidden;
}
.header__nav-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.header__nav-list--item {
  text-align: center;
  padding: 1rem 20vw;
}
.header__nav-list--item:hover {
  border-bottom: 0.25rem solid #FFFFFF;
  transition: border-bottom 0.05s;
}

.active-link {
  border-bottom: 0.25rem solid #FFFFFF;
}

/* Footer */
.footer {
  background-color: #323232;
  padding-bottom: 1rem;
}
.footer__link--image {
  color: #FFFFFF;
  margin-right: 1rem;
}
.footer__email {
  display: block;
  text-decoration: none;
}

.logo--footer {
  display: inline-block;
  margin-top: 4rem;
}

/* Global Breakpoints */
/* Tablet */
@media (min-width: 768px) {
  .margin {
    margin: 0 2.25rem;
  }

  header > .margin {
    margin: 0 2.25rem;
  }

  .text__header--section {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  .text__subheader {
    font-family: "Avenir Next Bold";
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
  .text__body {
    margin-bottom: 2.25rem;
  }
  .text__footer, .footer__email {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
  .text__footer--title {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    margin-right: 1.5rem;
  }

  .header {
    padding-top: 0;
  }
  .header__positioning {
    display: flex;
    align-items: center;
  }
  .header__nav {
    display: flex;
  }
  .header__nav-list {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
  .header__nav-list--item {
    padding: 1rem 0;
    margin-right: 2.25rem;
  }
  .header__nav-list--item:hover {
    padding: 1rem 0;
  }

  .footer {
    padding-bottom: 0.75rem;
  }
  .footer__container--desktop-tablet {
    display: flex;
    align-items: center;
  }
  .footer__container--positioning {
    position: relative;
  }
  .footer__text--container {
    margin-right: 3rem;
  }
  .footer__email {
    margin-bottom: 2.25rem;
  }
  .footer__link--image {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    margin-right: 1.5rem;
  }

  .logo--header {
    margin-left: 0;
    margin-right: 2.25rem;
  }
  .logo--footer {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 3rem;
  }

  .remove-margin {
    margin: 0;
  }
}
/* Desktop */
@media (min-width: 1280px) {
  .margin {
    margin: auto;
    width: 80vw;
  }

  header > .margin {
    margin: auto;
    width: 80vw;
  }

  .header__nav-list--item {
    padding: 2.25rem 0;
  }
  .header__nav-list--item:hover {
    padding: 2.25rem 0;
  }

  .text__footer--title {
    margin-right: 3rem;
  }

  .logo--header {
    margin-left: 0;
    margin-right: 3rem;
  }

  .footer__text--container {
    margin-right: 4.5rem;
  }
  .footer__email {
    margin-bottom: 3rem;
  }
}
/* Local Elements */
/* Text */
.text__header--page {
  font-family: "Avenir Next Bold";
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  position: absolute;
  top: 45%;
  z-index: 10;
}
.text__quote, .text__quote--person {
  font-family: "Avenir Next Demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-top: 0.25rem;
  color: #323232;
}
.text__comments {
  font-family: "Avenir Next Regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
  word-wrap: break-word;
  margin-bottom: 1rem;
}

/* Hero */
.hero {
  position: relative;
}
.hero__overlay {
  position: relative;
  z-index: 5;
  height: 55vw;
  background: #323232;
  opacity: 50%;
}
.hero__image {
  background: url("../assets/images/hero-bio.jpg") center/cover no-repeat;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 55vw;
  width: 100%;
}

/* About */
.about__container {
  display: flex;
  flex-direction: column;
}
.about__container--image {
  max-width: 100%;
  -webkit-clip-path: inset(10vw 0 5vw 0);
          clip-path: inset(10vw 0 5vw 0);
  margin-top: -10vw;
  margin-bottom: -5vw;
}

/* Gallery */
.gallery {
  background-color: #E1E1E1;
}
.gallery__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery__container--image {
  margin-bottom: 1rem;
  max-width: 100%;
  filter: grayscale(1);
  transition: filter 0.2s;
}
.gallery__container--image:hover {
  filter: grayscale(0);
}

/* Comments */
.comments__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.comments__image {
  max-height: 4rem;
  max-width: 4rem;
  -webkit-clip-path: circle(35% at 40% 50%);
          clip-path: circle(35% at 40% 50%);
  margin-top: 1.6rem;
}
.comments__form, .comments__display {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.comments__form--label {
  font-family: "Avenir Next Demi";
  font-size: 0.625rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  color: #AFAFAF;
  margin-bottom: 0.25rem;
}
.comments__form--name {
  font-family: "Avenir Next Regular";
  font-size: 0.625rem;
  line-height: 1.25rem;
  border: 0.0625rem solid #E1E1E1;
  border-radius: 0.25rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
}
.comments__form--name:active {
  border-color: #323232;
}
.comments__form--comment {
  font-family: "Avenir Next Regular";
  font-size: 0.625rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
  border: 0.0625rem solid #E1E1E1;
  border-radius: 0.25rem;
  padding: 0.75rem;
  min-height: 2.25rem;
  resize: none;
}
.comments__form--comment:active {
  border-color: #323232;
}
.comments__form--button {
  font-family: "Avenir Next Regular";
  font-size: 1rem;
  line-height: 1.25rem;
  height: 2.5rem;
  min-width: 9.375rem;
  padding: 0 2rem;
  text-transform: uppercase;
  background-color: #323232;
  color: #FFFFFF;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-family: "Avenir Next Bold";
  margin-bottom: 1rem;
}
.comments__form--button:hover {
  background-color: #000000;
  transition: color, 0.2s;
}
.comments__display {
  position: relative;
}
.comments__display--image {
  height: 3rem;
  width: 3rem;
  -webkit-clip-path: circle();
          clip-path: circle();
  margin-right: 1rem;
  background-color: #E1E1E1;
}
.comments__display--name {
  font-family: "Avenir Next Bold";
  color: #323232;
  margin-bottom: 1rem;
}
.comments__display--date {
  font-family: "Avenir Next Regular";
  color: #AFAFAF;
  position: absolute;
  top: 0;
  right: 4rem;
}
.comments__display--like-icon {
  position: absolute;
  top: 0;
  right: 2rem;
}
.comments__display--delete-icon {
  position: absolute;
  top: 0;
  right: 0;
}

.divider {
  margin-bottom: 1rem;
  height: 0.0625rem;
  background-color: #E1E1E1;
}

::-webkit-input-placeholder {
  color: #000000;
}

::-moz-placeholder {
  color: #000000;
}

::-ms-placeholder {
  color: #000000;
}

::-moz-placeholder {
  color: #000000;
}

:-ms-input-placeholder {
  color: #000000;
}

::placeholder {
  color: #000000;
}

.invalid {
  border-color: #D22D2D;
}

/* Local Breakpoints */
/* Tablet */
@media (min-width: 768px) {
  .text__header--page {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
  .text__body {
    font-size: 0.875rem;
    line-height: 1.375rem;
    max-width: 47%;
  }
  .text__quote, .text__quote--person {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .text__quote--person {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1rem;
  }
  .text__comments {
    margin-bottom: 1.5rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  .about__container {
    padding: 0 4.5rem;
  }
  .about__container--image {
    margin-bottom: calc(2.25rem - 5vw);
  }
  .about__container--text {
    display: flex;
    justify-content: space-between;
  }

  .gallery {
    padding-bottom: 0.75rem;
  }
  .gallery__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .gallery__container--image {
    max-width: 31%;
    margin-bottom: 1.5rem;
  }

  .comments__container {
    padding: 0 4.5rem;
  }
  .comments__display--name {
    margin-bottom: 0.5rem;
  }

  .divider {
    margin-bottom: 1.5rem;
    width: calc(100% - 9rem);
    margin-left: auto;
    margin-right: auto;
  }
}
/* Desktop */
@media (min-width: 1280px) {
  .gallery {
    padding-bottom: 1rem;
  }
  .gallery__container--image {
    max-width: 31%;
    margin-bottom: 2rem;
  }

  .comments__container {
    padding: 0 18vw;
  }

  .divider {
    width: calc(100% - 36vw);
  }
}/*# sourceMappingURL=bio.css.map */