@use 'partials/global';


/* Text */

.text {
    &--quote {
        @include global.text-demi {
        font-size: 0.875rem;
        line-height: 1.375rem;
        color: global.$BandSite-Black;
        }
        margin-block-start: 0;
        margin-block-end: 0;
        &-person {
            @extend .text--quote;
        }
    }
}

/* Hero */
.hero {
    position: relative;

    &__overlay {
        position: relative;
        z-index: 5;
        height: 65vw;
        background: global.$BandSite-Black;
        opacity: 50%;
        } 

        &__image {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            height: 65vw;
            width: 100%;
        }

}

/* About */
.about {
    &__container {
        display: flex; 
        flex-direction: column;
    }

    &__image {
        max-width: 100%;
        margin-bottom: 1rem;
    }

}

/* Gallery */
.gallery {
    background-color: global.$Mercury;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--image {
            max-width: 100%;
            margin-bottom: 1rem;
            filter: grayscale(1);
            transition: filter 0.2s;

            &:hover {
                filter: grayscale(0);
            }
        }
    }
}

/* Local Breakpoints */

/* Tablet */
@media (min-width: 768px) {
    .text {

        &--body {
            font-size: 0.875rem;
            line-height: 1.375rem;
            max-width: 47%;
        }
    
        &--quote {
            font-size: 1.5rem;
            line-height: 2rem;
            &-person {
                font-size: 1rem;
                line-height: 1.5rem;
                margin-top: 1rem;
            }
        }
    }

.about {
        &__container {
            padding: 0 4.5rem;

            &--text {
                display: flex;
                justify-content: space-between;
            }
        }
        &__image {
            margin-bottom: 2.25rem;
        }
    
    }

    .gallery {
        padding-bottom: 0.75rem;

        &__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
    
            &--image {
                max-width: 31%;
                margin-bottom: 1.5rem;
            }
        }
    }
}