@use './partials/colors';
@use './partials/fonts';
@use './partials/mixins';
@use './partials/global';

/* Local Elements */
/* Text */

.text {
    &__header {
        &--page {
            @include mixins.text-bold {
                color: colors.$White;
            }
            @include mixins.header-styling-mobile;
            position: absolute;
            top: 45%;
            z-index: 10;
        }
    }
    &__quote {
        @include mixins.text-demi {
        font-size: 0.875rem;
        line-height: 1.375rem;
        margin-top: 0.25rem;
        color: colors.$BandSite-Black;
        }
        &--person {
            @extend .text__quote;
        }
    }
    &__comments {
        @include mixins.text-reg {
            font-size: 0.8125rem;
            line-height: 1.125rem;
            color: colors.$BandSite-Black;
            word-wrap: break-word;
            }
        @include mixins.vertical-spacing-mobile;
    }
}

/* Hero */
.hero {
    position: relative;
    &__overlay {
        position: relative;
        z-index: 5;
        height: 55vw;
        background: colors.$BandSite-Black;
        opacity: 50%;
        } 
        &__image {
            background: url("../assets/images/hero-bio.jpg") center/cover no-repeat;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            height: 55vw;
            width: 100%;
        }

}

/* About */
.about {
    &__container {
        display: flex; 
        flex-direction: column;
        &--image {
            max-width: 100%;
            clip-path: inset(10vw 0 5vw 0);
            margin-top: -10vw;
            margin-bottom: -5vw;
        }
    }
}

/* Gallery */
.gallery {
    background-color: colors.$Mercury;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        &--image {
            @include mixins.vertical-spacing-mobile;
            max-width: 100%;
            filter: grayscale(1);
            transition: filter 0.2s;
            &:hover {
                filter: grayscale(0);
            }
        }
    }
}

/* Comments */
.comments {
    &__container {
        @include mixins.vertical-spacing-mobile;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 0.0625rem solid colors.$Mercury; 
    }
    &__image {
        max-height: 4rem;
        max-width: 4rem;
        clip-path: circle(35% at 40% 50%);
        margin-top: 1.6rem;
    }
    &__form {
        width: 90%;
        display: flex;
        flex-direction: column;
        &--label {
            @include mixins.text-demi {
                font-size: 0.625rem;
                line-height: 1.25rem;
                text-transform: uppercase;
                color: colors.$Silver;
            }
            margin-bottom: 0.25rem;
        }
        &--name {
            @include mixins.text-reg {
                font-size: 0.625rem;
                line-height: 1.25rem;
            }
            @include mixins.form-field-border-padding;
            @include mixins.vertical-spacing-mobile;
            &:active {
                border-color: colors.$BandSite-Black;
            }
        }
        &--comment {
            @include mixins.text-reg {
                font-size: 0.625rem;
                line-height: 1.25rem;
            }
            @include mixins.vertical-spacing-mobile;
            @include mixins.form-field-border-padding;
            min-height: 2.25rem;
            resize: none;
            &:active {
                border-color: colors.$BandSite-Black;
            }
        }
        &--button {
            @include mixins.label-button {
                height: 2.5rem;
                min-width: 9.375rem;
                padding: 0 2rem;
                text-transform: uppercase;
                background-color: colors.$BandSite-Black;
                color: colors.$White;
                border: none;
                border-radius: 0.25rem;
                cursor: pointer;
            };
            @include mixins.text-bold;
            @include mixins.vertical-spacing-mobile;
            &:hover {
                background-color: colors.$BandSite-DarkBlack;
                transition: color, 0.2s;
            }
        }
    }
    &__display {
        @extend .comments__form;
        position: relative;
        &--image {
            height: 3rem;
            width: 3rem;
            clip-path: circle();
            margin-right: 1rem;
            background-color: colors.$Mercury;
        }
        &--name {
            @include mixins.text-bold {
                color: colors.$BandSite-Black;
            }
            @include mixins.vertical-spacing-mobile;
        }
        &--date {
            @include mixins.text-reg {
                color: colors.$Silver;
            }
            position: absolute;
            top: 0;
            right: 8rem;
        }
        &--like-icon {
            position: absolute;
            top: 0;
            right: 2rem;
            cursor: pointer;
        }
        &--like-counter {
            @include mixins.text-reg {
                color: colors.$Silver;
            }
            position: absolute;
            top: 0;
            right: 4rem;
        }
        &--delete-icon {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
        }
    }
}
::-webkit-input-placeholder {
    color: colors.$BandSite-DarkBlack;
}
::-moz-placeholder {
    color: colors.$BandSite-DarkBlack;
}
::-ms-placeholder {
    color: colors.$BandSite-DarkBlack;
}
::placeholder {
    color: colors.$BandSite-DarkBlack;
}
.invalid {
    border-color: colors.$Invalid;
}

/* Local Breakpoints */
/* Tablet */
@media (min-width: 768px) {
    .text {
        &__header {
            &--page {
                font-size: 3.75rem;
                line-height: 4.25rem;
            }
        }
        &__body {
            font-size: 0.875rem;
            line-height: 1.375rem;
            max-width: 47%;
        }
        &__quote {
            font-size: 1.5rem;
            line-height: 2rem;
            &--person {
                font-size: 1rem;
                line-height: 1.5rem;
                margin-top: 1rem;
            }
        }
        &__comments {
            margin-bottom: 1.5rem;
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
    }
.about {
        &__container {
            padding: 0 4.5rem;
            &--image {
                margin-bottom: calc(2.25rem - 5vw);
            }   
            &--text {
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .gallery {
        padding-bottom: 0.75rem;
        &__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            &--image {
                max-width: 31%;
                margin-bottom: 1.5rem;
            }
        }
    }
    .comments {
        &__container {
            margin: 0 4.5rem 1.5rem 4.5rem;
        }
        &__display {
            &--name {
                margin-bottom: 0.5rem;
            }
        }
    }
}

/* Desktop */
@media (min-width: 1280px) {
    .gallery {
        padding-bottom: 1rem;
        &__container {
            &--image {
                max-width: 31%;
                margin-bottom: 2rem;
            }
        }
    }
    .comments {
        &__container {
            margin: 0 18vw 1.5rem 18vw;
        }
    }
}