/* Fonts */
@font-face {
  font-family: "Avenir Next Bold";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: "Avenir Next Regular";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
}
/* Variables */
/* Mixins */
/* Global Elements */
body {
  margin: 0;
}

li {
  margin: 0;
  font-family: "Avenir Next Bold";
  font-size: 0.625rem;
  line-height: 1.25rem;
  list-style-type: none;
}

h5, p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.logo, .logo--footer, .logo--header {
  max-height: 1.25rem;
  max-width: 7.5rem;
}
.logo--header {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logo--footer {
  margin-top: 2.25rem;
}

/* Header */
.header {
  padding-top: 1rem;
  background-color: #323232;
}
.header__nav-list {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}
.header__nav-list--item {
  padding: 1rem 22%;
  color: #FFFFFF;
}
.header--page {
  margin: 0;
  font-family: "Avenir Next Bold";
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0 1rem;
  position: absolute;
  top: 50%;
  z-index: 10;
}
.header--section {
  margin: 0;
  font-family: "Avenir Next Bold";
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.header--sub {
  font-family: "Avenir Next Demi";
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
.header--footer {
  margin: 0;
  font-family: "Avenir Next Bold";
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.active-link {
  border-bottom: 0.25rem solid #FFFFFF;
}

/* Footer */
.footer {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #323232;
  padding-bottom: 1rem;
}
.footer__image {
  color: #FFFFFF;
  margin-right: 1rem;
}
.footer__text, .footer__email {
  font-family: "Avenir Next Regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #FFFFFF;
  margin-top: 1rem;
}
.footer__email {
  display: block;
  text-decoration: none;
}

/* Hero */
.hero__container {
  position: relative;
}
.hero__container--image {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 65vw;
}
.hero__container--overlay {
  position: relative;
  z-index: 5;
  height: 65vw;
  overflow: hidden;
  background: #323232;
  opacity: 50%;
}

/* About */
.about {
  padding: 0 1rem;
}
.about__image {
  max-width: 100%;
}
.about__subtitle {
  font-family: "Avenir Next Demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
}
.about__text {
  font-family: "Avenir Next Regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
  margin: 1rem 0;
}

/* Gallery */
.gallery {
  padding: 0 1rem;
  background-color: #E1E1E1;
}
.gallery__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery__container--image {
  max-width: 100%;
  margin-bottom: 1rem;
}/*# sourceMappingURL=bio.css.map */