@use './partials/global';

/* Hero */
.hero {
    position: relative;

    &__overlay {
        position: relative;
        z-index: 5;
        height: 55vw;
        background: global.$BandSite-Black;
        opacity: 50%;
        } 

        &__image {
            background: url("../assets/images/hero-shows.jpg") center/cover no-repeat;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            height: 55vw;
            width: 100%;
        }

}
