@use './partials/global';

/*Local Styling*/
.text {
    &--page-header {
        @include global.text-bold {
            color: global.$White;
        }
        @include global.header-styling-mobile;
        position: absolute;
        max-width: 75%;
        top: 30%;
        z-index: 10;
    }
    &--album-header {
        @include global.text-reg {
            color: global.$White;
        };
        position: absolute;
        top: 20%;
        z-index: 10;
    }
    &__shows {
        &--date {
        @include global.text-demi {
            font-size: 0.8125rem;
            line-height: 1.125rem;
            color: global.$BandSite-Black;
            margin-bottom: 1rem;
            }
        }
        &--venue {
            @include global.text-reg {
                font-size: 0.8125rem;
                line-height: 1.125rem;
                color: global.$BandSite-Black;
                margin-bottom: 1rem;
                }
        }
        &--location {
            @extend .text__shows--venue;
        }
    }

    
}

/* Hero */
.hero {
    position: relative;
    &__overlay {
        position: relative;
        z-index: 5;
        height: 65vw;
        background: global.$BandSite-Black;
        opacity: 50%;
        } 
        &__image {
            background: url("../assets/images/hero-shows.jpg") center/cover no-repeat;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            height: 65vw;
            width: 100%;
        }
        &__soundcloud {
            position: absolute;
            top: calc(40% + 2.5rem);
            left: 1rem;
            z-index: 10;
            height: 80;
            width: calc(100% - 2rem);
        }

}

/* Shows */
.shows {
    &__container {
        @include global.vertical-spacing-mobile;
        width: 100%;
    }
    &__table {
        width: 100%;
        border-collapse: collapse;
        &--row {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            border-bottom: 0.0625rem solid global.$Mercury;
            transition: transform;

            &:hover {
                background-color: global.$Alabaster;
                transform: background-color, 0.2s;
            }
        }
        &--button {
            @include global.label-button {
                height: 2.5rem;
                padding: 0 2rem;
                min-width: 9.375rem;
                width: 100%;
                text-transform: uppercase;
                background-color: global.$BandSite-Black;
                color: global.$White;
                border: none;
                border-radius: 0.25rem;
            };
            @include global.text-bold;
            
            &:hover {
                background-color: global.$BandSite-DarkBlack;
                transition: color, 0.2s;
            }

            &-container {
                width: 100%;
            }
        }
    }    
}
.active-row {
    background-color: global.$Mercury;
}

/* Local Breakpoints */
/* Tablet */
@media (min-width: 768px) {
    .text {
        &--page-header {
            font-size: 3.75rem;
            line-height: 4.25rem;
        }
        &__shows {
            &--date {
                padding-left: 1.125rem;
            }
        }
    }
    .hero {
        &__soundcloud {
            max-width: 45%;
            top: 60%;
            left: 2.25rem;
        }
    }
    td {
        width: 25%;
    }
    .shows {
        &__table {
            &--row {
               display: table-row;           
            }
            &--button {
                margin: 0.75rem 0;
                min-width: 9.375rem;
            }
        }
    }

}

/* Desktop */

@media (min-width: 1280px) {
    .text {
        &--page-header {
            top: 50%;
            max-width: 38%;
        }
        &--album-header {
            top: 40%;
        }
        &--section-header {
            margin-right: 8rem;
        }
    }
    .hero {
        &__soundcloud {
            width: 40%;
            top: 50%;
            left: 50%;
        }
    }
    .shows {
        &__table {
            @include global.header-spacing-desktop-tablet;
        }
    }
    .shows > div.margin {
        display: flex;
    }

}