/* Global Elements */
/* All font sizing is based on the root font size in the body element (16px) */
body {
  margin: 0;
}

li {
  font-family: "Avenir Next Regular";
  font-size: 1rem;
  line-height: 1.25rem;
  color: #FFFFFF;
  list-style-type: none;
}

h1, h3, h4, h5, p, blockquote {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

a {
  text-decoration: none;
}
a:link {
  color: #FFFFFF;
}
a:visited {
  color: #AFAFAF;
}
a:hover {
  color: #FFFFFF;
}
a:active {
  margin-right: -0.33rem;
  font-family: "Avenir Next Bold";
}

.logo, .logo--footer, .logo--header {
  max-height: 1.25rem;
  max-width: 7.5rem;
}
.logo--header {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logo--footer {
  margin-top: 2.25rem;
}

.text__header--section {
  font-family: "Avenir Next Bold";
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.text__subheader {
  font-family: "Avenir Next Regular";
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: bold;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.text__body {
  font-family: "Avenir Next Regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
  margin-bottom: 1rem;
}
.text__footer, .footer__email {
  font-family: "Avenir Next Regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #FFFFFF;
  margin-top: 1rem;
}
.text__footer--title {
  font-family: "Avenir Next Bold";
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.margin {
  margin: 0 1rem;
}
.margin--spacer {
  margin-top: 55vw;
}

header > .margin {
  margin: 0;
}

.divider {
  margin-bottom: 1rem;
  height: 0.0625rem;
  background-color: #E1E1E1;
}

/* Fonts */
@font-face {
  font-family: "Avenir Next Bold";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: "Avenir Next Regular";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
}
/* Header */
.header {
  padding-top: 1rem;
  background-color: #323232;
}
.header__nav {
  overflow: hidden;
}
.header__nav-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.header__nav-list--item {
  text-align: center;
  padding: 1rem 20vw;
}
.header__nav-list--item:hover {
  border-bottom: 0.25rem solid #FFFFFF;
  transition: border-bottom 0.05s;
}

.active-link {
  border-bottom: 0.25rem solid #FFFFFF;
}

/* Footer */
.footer {
  background-color: #323232;
  padding-bottom: 1rem;
}
.footer__image {
  color: #FFFFFF;
  margin-right: 1rem;
}
.footer__email {
  display: block;
  text-decoration: none;
}

/* Global Breakpoints */
/* Tablet */
@media (min-width: 768px) {
  .margin {
    margin: 0 2.25rem;
  }

  header > .margin {
    margin: 0 2.25rem;
  }

  .text__header--section {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  .text__subheader {
    font-family: "Avenir Next Bold";
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
  .text__body {
    margin-bottom: 2.25rem;
  }
  .text__footer, .footer__email {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
  .text__footer--title {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    margin-right: 1.5rem;
  }

  .header {
    padding-top: 0;
  }
  .header__positioning {
    display: flex;
    align-items: center;
  }
  .header__nav {
    display: flex;
  }
  .header__nav-list {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
  .header__nav-list--item {
    padding: 1rem 0;
    margin-right: 2.25rem;
  }
  .header__nav-list--item:hover {
    padding: 1rem 0;
  }

  .footer {
    padding-bottom: 0.75rem;
  }
  .footer__container--desktop-tablet {
    display: flex;
    align-items: center;
  }
  .footer__container--positioning {
    position: relative;
  }
  .footer__text--container {
    margin-right: 3rem;
  }
  .footer__email {
    margin-bottom: 2.25rem;
  }
  .footer__image {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    margin-right: 1.5rem;
  }

  .logo--header {
    margin-left: 0;
    margin-right: 2.25rem;
  }
  .logo--footer {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 3rem;
  }

  .remove-margin {
    margin: 0;
  }
}
/* Desktop */
@media (min-width: 1280px) {
  .margin {
    margin: auto;
    width: 80vw;
  }

  header > .margin {
    margin: auto;
    width: 80vw;
  }

  .header__nav-list--item {
    padding: 2.25rem 0;
  }
  .header__nav-list--item:hover {
    padding: 2.25rem 0;
  }

  .text__footer--title {
    margin-right: 3rem;
  }

  .logo--header {
    margin-left: 0;
    margin-right: 3rem;
  }

  .footer__text--container {
    margin-right: 4.5rem;
  }
  .footer__email {
    margin-bottom: 3rem;
  }
}
/*Local Styling*/
.text__header--page {
  font-family: "Avenir Next Bold";
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  position: absolute;
  max-width: 75%;
  top: 30%;
  z-index: 10;
}
.text__header--album {
  font-family: "Avenir Next Regular";
  color: #FFFFFF;
  position: absolute;
  top: 20%;
  z-index: 10;
}
.text__header--mobile {
  font-family: "Avenir Next Demi";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #AFAFAF;
  text-transform: uppercase;
  cursor: pointer;
}
.text__header--table {
  display: none;
}
.text--shows-date {
  font-family: "Avenir Next Demi";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
  margin-bottom: 1rem;
  cursor: pointer;
}
.text--shows-venue, .text--shows-location {
  font-family: "Avenir Next Regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
  margin-bottom: 1rem;
  cursor: pointer;
}
/* Hero */
.hero {
  position: relative;
}
.hero__overlay {
  position: relative;
  z-index: 5;
  height: 65vw;
  background: #323232;
  opacity: 50%;
}
.hero__image {
  background: url("../assets/images/hero-shows.jpg") center/cover no-repeat;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 65vw;
  width: 100%;
}
.hero__soundcloud {
  position: absolute;
  top: calc(40% + 2.5rem);
  left: 1rem;
  z-index: 10;
  max-height: 10rem;
  width: calc(100% - 2rem);
}

/* Shows */
.shows__container {
  margin-bottom: 1rem;
  width: 100%;
}
.shows__table {
  width: calc(100% + 2rem);
  margin-left: -1rem;
  border-collapse: collapse;
}
.shows__table--row {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-bottom: 0.0625rem solid #E1E1E1;
  cursor: pointer;
  transition: transform;
}
.shows__table--row:hover {
  background-color: #FAFAFA;
  transform: background-color, 0.2s;
}
.shows__table--button {
  font-family: "Avenir Next Regular";
  font-size: 1rem;
  line-height: 1.25rem;
  height: 2.5rem;
  padding: 0 2rem;
  min-width: 9.375rem;
  width: 100%;
  text-transform: uppercase;
  background-color: #323232;
  color: #FFFFFF;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-family: "Avenir Next Demi";
}
.shows__table--button:hover {
  background-color: #000000;
  transition: color, 0.2s;
}
.shows__table--button-container {
  width: 100%;
}

.divider {
  width: 100vw;
}

.active-row {
  background-color: #E1E1E1;
}

/* Local Breakpoints */
/* Tablet */
@media (min-width: 768px) {
  .text__header--page {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
  .text__header--mobile {
    display: none;
  }
  .text__header--table {
    font-family: "Avenir Next Demi";
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #AFAFAF;
    text-align: left;
    text-transform: uppercase;
    display: table-cell;
  }
  .text__header--table:first-child {
    padding-left: 1.125rem;
  }
  .text--shows-date {
    padding-left: 1.125rem;
  }

  .hero__soundcloud {
    max-width: 45%;
    top: 60%;
    left: 2.25rem;
  }

  td {
    width: 25%;
  }

  .shows__table--row {
    display: table-row;
  }
  .shows__table--button {
    margin: 0.75rem 0;
    width: calc(100% - 1.125rem);
  }
}
/* Desktop */
@media (min-width: 1280px) {
  .text__header--page {
    top: 50%;
    max-width: 38%;
  }
  .text__header--album {
    top: 40%;
  }
  .text__header--table {
    padding-top: 4.15rem;
    padding-bottom: 2.25rem;
  }
  .text__shows--date {
    width: 9rem;
  }

  .hero__soundcloud {
    width: 40%;
    top: 50%;
    left: 50%;
  }

  .shows__table {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
  .shows__table--button-container {
    width: 23%;
  }

  td {
    width: 21.25%;
  }

  .shows > div.margin {
    display: flex;
  }

  .shows > div.margin > .text__header--section {
    margin-right: 9rem;
  }
}/*# sourceMappingURL=shows.css.map */