/* Fonts */
@font-face {
  font-family: "Avenir Next Bold";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: "Avenir Next Regular";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
}
/* Variables */
/* Mixins */
/* Global Elements */
/* All font sizing is based on the root font size in the body element (16px) */
body {
  margin: 0;
}

li {
  font-family: "Avenir Next Regular";
  font-size: 1rem;
  line-height: 1.25rem;
  color: #FFFFFF;
  list-style-type: none;
}

h1, h3, h4, h5, p, blockquote {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

a {
  text-decoration: none;
}
a:link {
  color: #FFFFFF;
}
a:visited {
  color: #AFAFAF;
}
a:hover {
  color: #FFFFFF;
}
a:active {
  margin-right: -0.33rem;
  font-family: "Avenir Next Bold";
}

.logo, .logo--footer, .logo--header {
  max-height: 1.25rem;
  max-width: 7.5rem;
}
.logo--header {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logo--footer {
  margin-top: 2.25rem;
}

.text--section-header {
  font-family: "Avenir Next Bold";
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.text--subheader {
  font-family: "Avenir Next Regular";
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: bold;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.text--body, .text--comments {
  font-family: "Avenir Next Regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
  margin-bottom: 1rem;
}
.text--footer-title {
  font-family: "Avenir Next Bold";
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.text--footer, .footer__email {
  font-family: "Avenir Next Regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #FFFFFF;
  margin-top: 1rem;
}

.margin {
  margin: 0 1rem;
}
.margin--spacer {
  margin-top: 55vw;
}

header > .margin {
  margin: 0;
}

.divider {
  margin-bottom: 1rem;
  height: 0.0625rem;
  background-color: #E1E1E1;
}

/* Header */
.header {
  padding-top: 1rem;
  background-color: #323232;
}
.header__nav {
  overflow: hidden;
}
.header__nav-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.header__nav-list--item {
  text-align: center;
  padding: 1rem 20vw;
}
.header__nav-list--item:hover {
  border-bottom: 0.25rem solid #FFFFFF;
  transition: border-bottom 0.05s;
}

.active-link {
  border-bottom: 0.25rem solid #FFFFFF;
}

/* Footer */
.footer {
  background-color: #323232;
  padding-bottom: 1rem;
}
.footer__image {
  color: #FFFFFF;
  margin-right: 1rem;
}
.footer__email {
  display: block;
  text-decoration: none;
}

/* Global Breakpoints */
/* Tablet */
@media (min-width: 768px) {
  .margin {
    margin: 0 2.25rem;
  }

  header > .margin {
    margin: 0 2.25rem;
  }

  .text--section-header {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  .text--subheader {
    font-family: "Avenir Next Bold";
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
  .text--body, .text--comments {
    margin-bottom: 2.25rem;
  }
  .text--footer-title {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    margin-right: 1.5rem;
  }
  .text--footer, .footer__email {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }

  .header {
    padding-top: 0;
  }
  .header__positioning {
    display: flex;
    align-items: center;
  }
  .header__nav {
    display: flex;
  }
  .header__nav-list {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
  .header__nav-list--item {
    padding: 1rem 0;
    margin-right: 2.25rem;
  }
  .header__nav-list--item:hover {
    padding: 1rem 0;
  }

  .footer {
    padding-bottom: 0.75rem;
  }
  .footer__container--desktop-tablet {
    display: flex;
    align-items: center;
  }
  .footer__container--positioning {
    position: relative;
  }
  .footer__text--container {
    margin-right: 3rem;
  }
  .footer__email {
    margin-bottom: 2.25rem;
  }
  .footer__image {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    margin-right: 1.5rem;
  }

  .logo--header {
    margin-left: 0;
    margin-right: 2.25rem;
  }
  .logo--footer {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 3rem;
  }

  .remove-margin {
    margin: 0;
  }
}
/* Desktop */
@media (min-width: 1280px) {
  .margin {
    margin: auto;
    width: 80vw;
  }

  header > .margin {
    margin: auto;
    width: 80vw;
  }

  .header__nav-list--item {
    padding: 2.25rem 0;
  }
  .header__nav-list--item:hover {
    padding: 2.25rem 0;
  }

  .text--footer-title {
    margin-right: 3rem;
  }

  .logo--header {
    margin-left: 0;
    margin-right: 3rem;
  }

  .footer__text--container {
    margin-right: 4.5rem;
  }
  .footer__email {
    margin-bottom: 3rem;
  }
}
/*Local Styling*/
.text--page-header {
  font-family: "Avenir Next Bold";
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  position: absolute;
  top: 30%;
  z-index: 10;
}
.text--show-date {
  font-family: "Avenir Next Bold";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
}
.text--show-array {
  font-family: "Avenir Next Regular";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
}

/* Hero */
.hero {
  position: relative;
}
.hero__overlay {
  position: relative;
  z-index: 5;
  height: 55vw;
  background: #323232;
  opacity: 50%;
}
.hero__image {
  background: url("../assets/images/hero-shows.jpg") center/cover no-repeat;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 55vw;
  width: 100%;
}
.hero__soundcloud {
  position: absolute;
  top: calc(30% + 2.5rem);
  left: 1rem;
  z-index: 10;
  width: calc(100% - 2rem);
}

/* Shows */
.shows__info--row {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 3rem);
}
.shows__info--button {
  font-family: "Avenir Next Regular";
  font-size: 1rem;
  line-height: 1.25rem;
  height: 2.5rem;
  min-width: 9.375rem;
  padding: 0 2rem;
  text-transform: uppercase;
  background-color: #323232;
  color: #FFFFFF;
  border: none;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  font-family: "Avenir Next Bold";
}
.shows__info--button:hover {
  background-color: #000000;
  transition: color, 0.2s;
}

/* Local Breakpoints */
/* Tablet */
@media (min-width: 768px) {
  .text--page-header {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }

  .shows__info {
    width: calc(100%);
  }
  .shows__info--row {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
  }
}
/* Desktop */
@media (min-width: 1280px) {
  .hero__soundcloud {
    width: calc(100% - 16rem);
    left: 8rem;
  }

  .shows__info {
    width: calc(100%);
  }

  .shows > div.margin {
    display: flex;
    align-items: flex-start;
  }
}/*# sourceMappingURL=shows.css.map */